.location-cont {
    color: var(--white);
    text-align: center;

    position: absolute;

    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

}

.location {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
}


.material-symbols-outlined {
  margin-top: 1rem;
  cursor: pointer;
}

.material-symbols-outlined:hover{
    transform: scale(1.3);
}