/*Analog/digital slider*/

.toggle, .toggle-light {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #494949;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #494949;
    transition: .3s;
}

.active {
    border-color: var(--white);
}

.active + .text {
    color: var(--white);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: var(--white);
}

.container-1{
    position: absolute;
    top: 2%;
    right: 2%;
    display: inline-block;
}

.toggle span, .toggle-light span{
    font-family: var(--font);
    font-weight: bold;
    color: var(--white);

    position: absolute;
    top: 0;
    left: -100%;

}

/*Light/Dark mode*/

.container-2 {
    margin-top: 1rem;
}

.toggle-light span {
    left: -160%;
}