:root{
    --font: 'Economica', sans-serif;

    --main-dark: #242425;
    --secondary-dark: #313133;

    --white: #fff;

    --box-sh-dm: 2px 2px 10px 10px rgba(255, 255, 255, 0.178);
}

.lightMode{
    --main-dark: #f7f3f2;
    --secondary-dark: #ede7e6;

    --white: #242425;

    --box-sh-dm: 2px 2px 10px 10px rgba(27, 27, 27, 0.178);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-dark);
    font-family: var(--font);
    height: 100vh;
}

.container{
    visibility: visible;

    width: 30rem;

    padding: 17rem 0;

    background-color: var(--white);

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--secondary-dark);

    border-radius: 10px;
    /* box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.178); */
    box-shadow: var(--box-sh-dm);
}
